.idea/.name
.idea/compiler.xml
.idea/encodings.xml
.idea/misc.xml
.idea/modules.xml
.idea/uiDesigner.xml
.idea/workspace.xml
.idea/artifacts/LazyAdmin_war.xml
.idea/artifacts/LazyAdmin_war_exploded.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/libraries/Maven__aopalliance_aopalliance_1_0.xml
.idea/libraries/Maven__com_alibaba_druid_1_0_19.xml
.idea/libraries/Maven__com_baomidou_mybatis_plus_2_0.xml
.idea/libraries/Maven__com_fasterxml_classmate_1_0_0.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_annotations_2_8_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_core_2_8_5.xml
.idea/libraries/Maven__com_fasterxml_jackson_core_jackson_databind_2_8_5.xml
.idea/libraries/Maven__com_google_guava_guava_19_0.xml
.idea/libraries/Maven__com_sun_mail_javax_mail_1_5_0.xml
.idea/libraries/Maven__commons_beanutils_commons_beanutils_1_8_3.xml
.idea/libraries/Maven__commons_logging_commons_logging_1_2.xml
.idea/libraries/Maven__javax_activation_activation_1_1.xml
.idea/libraries/Maven__javax_javaee_api_7_0.xml
.idea/libraries/Maven__javax_servlet_javax_servlet_api_3_0_1.xml
.idea/libraries/Maven__javax_validation_validation_api_1_1_0_Final.xml
.idea/libraries/Maven__junit_junit_4_12.xml
.idea/libraries/Maven__log4j_log4j_1_2_17.xml
.idea/libraries/Maven__mysql_mysql_connector_java_5_1_32.xml
.idea/libraries/Maven__net_sf_ehcache_ehcache_core_2_6_11.xml
.idea/libraries/Maven__org_apache_commons_commons_lang3_3_4.xml
.idea/libraries/Maven__org_apache_commons_commons_pool2_2_0.xml
.idea/libraries/Maven__org_apache_shiro_shiro_core_1_2_2.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_8_9.xml
.idea/libraries/Maven__org_hamcrest_hamcrest_core_1_3.xml
.idea/libraries/Maven__org_hibernate_hibernate_validator_5_1_3_Final.xml
.idea/libraries/Maven__org_jboss_logging_jboss_logging_3_1_3_GA.xml
.idea/libraries/Maven__org_mybatis_mybatis_3_4_1.xml
.idea/libraries/Maven__org_mybatis_mybatis_spring_1_3_0.xml
.idea/libraries/Maven__org_slf4j_slf4j_api_1_7_21.xml
.idea/libraries/Maven__org_slf4j_slf4j_log4j12_1_7_21.xml
.idea/libraries/Maven__org_springframework_spring_aop_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_aspects_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_beans_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_context_support_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_core_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_expression_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_jdbc_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_test_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_tx_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_web_4_2_6_RELEASE.xml
.idea/libraries/Maven__org_springframework_spring_webmvc_4_2_6_RELEASE.xml
.idea/libraries/Maven__redis_clients_jedis_2_3_1.xml
target/classes/log4j.properties
target/classes/lazyadmin/entity/Admin.class
target/classes/lazyadmin/entity/AdminRole.class
target/classes/lazyadmin/entity/Permisssion.class
target/classes/lazyadmin/entity/Role.class
target/classes/lazyadmin/entity/RolePerssion.class
target/classes/lazyadmin/mapper/AdminMapper.class
target/classes/lazyadmin/mapper/PermissionMapper.class
target/classes/lazyadmin/mapper/RoleMapper.class
target/classes/lazyadmin/service/AdminService.class
target/classes/lazyadmin/service/PermissionService.class
target/classes/lazyadmin/service/RoleService.class
target/classes/lazyadmin/service/impl/AdminServiceImpl.class
target/classes/lazyadmin/service/impl/PermissionServiceImpl.class
target/classes/lazyadmin/service/impl/RoleServiceImpl.class
target/classes/mapper/AdminMapper.xml
target/classes/mapper/PermissionMapper.xml
target/classes/mapper/RoleMapper.xml
target/classes/properties/jdbc.properties
target/classes/spring/spring-dao.xml
target/classes/spring/spring-mvc.xml
target/classes/xml/mybatis-config.xml
target/lazyadmin/index.jsp
target/lazyadmin/META-INF/MANIFEST.MF
target/lazyadmin/WEB-INF/web.xml
target/lazyadmin/WEB-INF/lib/activation-1.1.jar
target/lazyadmin/WEB-INF/lib/aopalliance-1.0.jar
target/lazyadmin/WEB-INF/lib/aspectjweaver-1.8.9.jar
target/lazyadmin/WEB-INF/lib/classmate-1.0.0.jar
target/lazyadmin/WEB-INF/lib/commons-beanutils-1.8.3.jar
target/lazyadmin/WEB-INF/lib/commons-lang3-3.4.jar
target/lazyadmin/WEB-INF/lib/commons-logging-1.2.jar
target/lazyadmin/WEB-INF/lib/commons-pool2-2.0.jar
target/lazyadmin/WEB-INF/lib/druid-1.0.19.jar
target/lazyadmin/WEB-INF/lib/ehcache-core-2.6.11.jar
target/lazyadmin/WEB-INF/lib/guava-19.0.jar
target/lazyadmin/WEB-INF/lib/hibernate-validator-5.1.3.Final.jar
target/lazyadmin/WEB-INF/lib/jackson-annotations-2.8.5.jar
target/lazyadmin/WEB-INF/lib/jackson-core-2.8.5.jar
target/lazyadmin/WEB-INF/lib/jackson-databind-2.8.5.jar
target/lazyadmin/WEB-INF/lib/javaee-api-7.0.jar
target/lazyadmin/WEB-INF/lib/javax.mail-1.5.0.jar
target/lazyadmin/WEB-INF/lib/javax.servlet-api-3.0.1.jar
target/lazyadmin/WEB-INF/lib/jboss-logging-3.1.3.GA.jar
target/lazyadmin/WEB-INF/lib/jedis-2.3.1.jar
target/lazyadmin/WEB-INF/lib/log4j-1.2.17.jar
target/lazyadmin/WEB-INF/lib/mybatis-3.4.1.jar
target/lazyadmin/WEB-INF/lib/mybatis-plus-2.0.jar
target/lazyadmin/WEB-INF/lib/mybatis-spring-1.3.0.jar
target/lazyadmin/WEB-INF/lib/mysql-connector-java-5.1.32.jar
target/lazyadmin/WEB-INF/lib/shiro-core-1.2.2.jar
target/lazyadmin/WEB-INF/lib/slf4j-api-1.7.21.jar
target/lazyadmin/WEB-INF/lib/slf4j-log4j12-1.7.21.jar
target/lazyadmin/WEB-INF/lib/spring-aop-4.2.6.RELEASE.jar
target/lazyadmin/WEB-INF/lib/spring-aspects-4.2.6.RELEASE.jar
target/lazyadmin/WEB-INF/lib/spring-beans-4.2.6.RELEASE.jar
target/lazyadmin/WEB-INF/lib/spring-context-4.2.6.RELEASE.jar
target/lazyadmin/WEB-INF/lib/spring-context-support-4.2.6.RELEASE.jar
target/lazyadmin/WEB-INF/lib/spring-core-4.2.6.RELEASE.jar
target/lazyadmin/WEB-INF/lib/spring-expression-4.2.6.RELEASE.jar
target/lazyadmin/WEB-INF/lib/spring-jdbc-4.2.6.RELEASE.jar
target/lazyadmin/WEB-INF/lib/spring-test-4.2.6.RELEASE.jar
target/lazyadmin/WEB-INF/lib/spring-tx-4.2.6.RELEASE.jar
target/lazyadmin/WEB-INF/lib/spring-web-4.2.6.RELEASE.jar
target/lazyadmin/WEB-INF/lib/spring-webmvc-4.2.6.RELEASE.jar
target/lazyadmin/WEB-INF/lib/validation-api-1.1.0.Final.jar
target/test-classes/lazyadmin/service/impl/AdminServiceImplTest.class
LazyAdmin.iml
.idea/libraries/Maven__com_alibaba_fastjson_1_2_8.xml
.idea/libraries/Maven__org_freemarker_freemarker_2_3_20.xml
target/classes/lazyadmin/entity/Permission.class
target/classes/lazyadmin/web/controller/AdminController.class
target/classes/lazyadmin/web/controller/AuthController.class
target/classes/lazyadmin/web/controller/PermissionController.class
target/classes/lazyadmin/web/controller/RoleController.class
target/classes/properties/freemarker.properties
target/classes/spring/spring-freemarker.xml
target/lazyadmin/static/css/animate.css
target/lazyadmin/static/css/animate.min.css
target/lazyadmin/static/css/bootstrap.css
target/lazyadmin/static/css/bootstrap.min.css
target/lazyadmin/static/css/calendar.css
target/lazyadmin/static/css/editor.css
target/lazyadmin/static/css/file-manager.css
target/lazyadmin/static/css/font-awesome.css
target/lazyadmin/static/css/font-awesome.min.css
target/lazyadmin/static/css/form.css
target/lazyadmin/static/css/generics.css
target/lazyadmin/static/css/icons.css
target/lazyadmin/static/css/lightbox.css
target/lazyadmin/static/css/media-player.css
target/lazyadmin/static/css/photo-gallery-alt.css
target/lazyadmin/static/css/photo-gallery.css
target/lazyadmin/static/css/style.css
target/lazyadmin/static/fonts/fontawesome/fontawesome-webfont.eot
target/lazyadmin/static/fonts/fontawesome/fontawesome-webfont.svg
target/lazyadmin/static/fonts/fontawesome/fontawesome-webfont.ttf
target/lazyadmin/static/fonts/fontawesome/fontawesome-webfont.woff
target/lazyadmin/static/fonts/fontawesome/FontAwesome.otf
target/lazyadmin/static/fonts/icons/icon.sfd
target/lazyadmin/static/fonts/icons/icon.svg
target/lazyadmin/static/fonts/icons/icon.ttf
target/lazyadmin/static/fonts/icons/icon.woff
target/lazyadmin/static/fonts/opan-sans/OpenSans-Light-webfont.eot
target/lazyadmin/static/fonts/opan-sans/OpenSans-Light-webfont.svg
target/lazyadmin/static/fonts/opan-sans/OpenSans-Light-webfont.ttf
target/lazyadmin/static/fonts/opan-sans/OpenSans-Light-webfont.woff
target/lazyadmin/static/fonts/opan-sans/OpenSans-Regular-webfont.eot
target/lazyadmin/static/fonts/opan-sans/OpenSans-Regular-webfont.svg
target/lazyadmin/static/fonts/opan-sans/OpenSans-Regular-webfont.ttf
target/lazyadmin/static/fonts/opan-sans/OpenSans-Regular-webfont.woff
target/lazyadmin/static/fonts/opan-sans/OpenSans-Semibold-webfont.eot
target/lazyadmin/static/fonts/opan-sans/OpenSans-Semibold-webfont.svg
target/lazyadmin/static/fonts/opan-sans/OpenSans-Semibold-webfont.ttf
target/lazyadmin/static/fonts/opan-sans/OpenSans-Semibold-webfont.woff
target/lazyadmin/static/img/profile-pic.jpg
target/lazyadmin/static/img/body/violate.jpg
target/lazyadmin/static/img/icon/add.png
target/lazyadmin/static/img/icon/add@2x.png
target/lazyadmin/static/img/icon/archive.png
target/lazyadmin/static/img/icon/archive@2x.png
target/lazyadmin/static/img/icon/back.png
target/lazyadmin/static/img/icon/back@2x.png
target/lazyadmin/static/img/icon/calendar.png
target/lazyadmin/static/img/icon/calendar@2x.png
target/lazyadmin/static/img/icon/chart.png
target/lazyadmin/static/img/icon/chart@2x.png
target/lazyadmin/static/img/icon/day.png
target/lazyadmin/static/img/icon/day@2x.png
target/lazyadmin/static/img/icon/delete.png
target/lazyadmin/static/img/icon/delete@2x.png
target/lazyadmin/static/img/icon/file.png
target/lazyadmin/static/img/icon/file@2x.png
target/lazyadmin/static/img/icon/folder-sm.png
target/lazyadmin/static/img/icon/folder-sm@2x.png
target/lazyadmin/static/img/icon/folder.png
target/lazyadmin/static/img/icon/folder@2x.png
target/lazyadmin/static/img/icon/form.png
target/lazyadmin/static/img/icon/form@2x.png
target/lazyadmin/static/img/icon/forwad.png
target/lazyadmin/static/img/icon/forwad@2x.png
target/lazyadmin/static/img/icon/home.png
target/lazyadmin/static/img/icon/home@2x.png
target/lazyadmin/static/img/icon/icon-view.png
target/lazyadmin/static/img/icon/icon-view@2x.png
target/lazyadmin/static/img/icon/list-view.png
target/lazyadmin/static/img/icon/list-view@2x.png
target/lazyadmin/static/img/icon/menu.png
target/lazyadmin/static/img/icon/menu@2x.png
target/lazyadmin/static/img/icon/message.png
target/lazyadmin/static/img/icon/message@2x.png
target/lazyadmin/static/img/icon/month.png
target/lazyadmin/static/img/icon/month@2x.png
target/lazyadmin/static/img/icon/move.png
target/lazyadmin/static/img/icon/move@2x.png
target/lazyadmin/static/img/icon/pages.png
target/lazyadmin/static/img/icon/pages@2x.png
target/lazyadmin/static/img/icon/photos.png
target/lazyadmin/static/img/icon/photos@2x.png
target/lazyadmin/static/img/icon/plus-sm.png
target/lazyadmin/static/img/icon/plus-sm@2x.png
target/lazyadmin/static/img/icon/refresh.png
target/lazyadmin/static/img/icon/refresh@2x.png
target/lazyadmin/static/img/icon/search-sm.png
target/lazyadmin/static/img/icon/search.png
target/lazyadmin/static/img/icon/search@2x.png
target/lazyadmin/static/img/icon/sorting.png
target/lazyadmin/static/img/icon/sorting@2x.png
target/lazyadmin/static/img/icon/spam.png
target/lazyadmin/static/img/icon/spam@2x.png
target/lazyadmin/static/img/icon/table.png
target/lazyadmin/static/img/icon/table@2x.png
target/lazyadmin/static/img/icon/tile-actions.png
target/lazyadmin/static/img/icon/tile-actions@2x.png
target/lazyadmin/static/img/icon/typography.png
target/lazyadmin/static/img/icon/typography@2x.png
target/lazyadmin/static/img/icon/ui.png
target/lazyadmin/static/img/icon/ui@2x.png
target/lazyadmin/static/img/icon/updates.png
target/lazyadmin/static/img/icon/updates@2x.png
target/lazyadmin/static/img/icon/upload.png
target/lazyadmin/static/img/icon/upload@2x.png
target/lazyadmin/static/img/icon/week.png
target/lazyadmin/static/img/icon/week@2x.png
target/lazyadmin/static/img/icon/widgets.png
target/lazyadmin/static/img/icon/widgets@2x.png
target/lazyadmin/static/img/media-player/background.png
target/lazyadmin/static/img/media-player/bigplay.png
target/lazyadmin/static/img/media-player/bigplay.svg
target/lazyadmin/static/img/media-player/controls-ted.png
target/lazyadmin/static/img/media-player/controls.png
target/lazyadmin/static/img/media-player/controls.svg
target/lazyadmin/static/img/media-player/loading.gif
target/lazyadmin/static/img/media-player/media-player-poster.jpg
target/lazyadmin/static/js/autosize.min.js
target/lazyadmin/static/js/bootstrap.min.js
target/lazyadmin/static/js/calendar.min.js
target/lazyadmin/static/js/fileupload.min.js
target/lazyadmin/static/js/functions.js
target/lazyadmin/static/js/jquery-ui.min.js
target/lazyadmin/static/js/jquery.easing.1.3.js
target/lazyadmin/static/js/jquery.min.js
target/lazyadmin/static/js/media-player.min.js
target/lazyadmin/static/js/pirobox.min.js
target/lazyadmin/static/js/scroll.min.js
target/lazyadmin/WEB-INF/classes/log4j.properties
target/lazyadmin/WEB-INF/classes/lazyadmin/entity/Admin.class
target/lazyadmin/WEB-INF/classes/lazyadmin/entity/AdminRole.class
target/lazyadmin/WEB-INF/classes/lazyadmin/entity/Permission.class
target/lazyadmin/WEB-INF/classes/lazyadmin/entity/Role.class
target/lazyadmin/WEB-INF/classes/lazyadmin/entity/RolePerssion.class
target/lazyadmin/WEB-INF/classes/lazyadmin/mapper/AdminMapper.class
target/lazyadmin/WEB-INF/classes/lazyadmin/mapper/PermissionMapper.class
target/lazyadmin/WEB-INF/classes/lazyadmin/mapper/RoleMapper.class
target/lazyadmin/WEB-INF/classes/lazyadmin/service/AdminService.class
target/lazyadmin/WEB-INF/classes/lazyadmin/service/PermissionService.class
target/lazyadmin/WEB-INF/classes/lazyadmin/service/RoleService.class
target/lazyadmin/WEB-INF/classes/lazyadmin/service/impl/AdminServiceImpl.class
target/lazyadmin/WEB-INF/classes/lazyadmin/service/impl/PermissionServiceImpl.class
target/lazyadmin/WEB-INF/classes/lazyadmin/service/impl/RoleServiceImpl.class
target/lazyadmin/WEB-INF/classes/lazyadmin/web/controller/AdminController.class
target/lazyadmin/WEB-INF/classes/lazyadmin/web/controller/AuthController.class
target/lazyadmin/WEB-INF/classes/lazyadmin/web/controller/PermissionController.class
target/lazyadmin/WEB-INF/classes/lazyadmin/web/controller/RoleController.class
target/lazyadmin/WEB-INF/classes/mapper/AdminMapper.xml
target/lazyadmin/WEB-INF/classes/mapper/PermissionMapper.xml
target/lazyadmin/WEB-INF/classes/mapper/RoleMapper.xml
target/lazyadmin/WEB-INF/classes/properties/freemarker.properties
target/lazyadmin/WEB-INF/classes/properties/jdbc.properties
target/lazyadmin/WEB-INF/classes/spring/spring-dao.xml
target/lazyadmin/WEB-INF/classes/spring/spring-freemarker.xml
target/lazyadmin/WEB-INF/classes/spring/spring-mvc.xml
target/lazyadmin/WEB-INF/classes/xml/mybatis-config.xml
target/lazyadmin/WEB-INF/lib/fastjson-1.2.8.jar
target/lazyadmin/WEB-INF/lib/freemarker-2.3.20.jar
target/lazyadmin/WEB-INF/lib/hamcrest-core-1.3.jar
target/lazyadmin/WEB-INF/lib/junit-4.12.jar
target/lazyadmin/WEB-INF/views/index.ftl
target/lazyadmin/WEB-INF/views/login.ftl
target/lazyadmin/WEB-INF/views/common/header.ftl
target/lazyadmin/WEB-INF/views/common/js.ftl
target/lazyadmin/WEB-INF/views/common/messages.ftl
target/lazyadmin/WEB-INF/views/common/sidebar.ftl
target/lazyadmin/WEB-INF/views/common/style.ftl
target/lazyadmin/WEB-INF/views/dashboard/detail.ftl
target/lazyadmin/WEB-INF/views/permission/index.ftl
target/lazyadmin/static/js/icheck.js
target/lazyadmin/WEB-INF/views/role/detail.ftl
target/lazyadmin/WEB-INF/views/role/index.ftl
target/lazyadmin/WEB-INF/views/video/detail.ftl
target/lazyadmin/WEB-INF/views/video/index.ftl
target/lazyadmin/WEB-INF/views/account/detail.ftl
target/lazyadmin/WEB-INF/views/account/index.ftl
.idea/libraries/Maven__asm_asm_3_3_1.xml
.idea/libraries/Maven__cglib_cglib_2_2_2.xml
.idea/libraries/Maven__commons_collections_commons_collections_3_2_1.xml
.idea/libraries/Maven__org_apache_shiro_shiro_quartz_1_2_2.xml
.idea/libraries/Maven__org_apache_shiro_shiro_spring_1_2_2.xml
.idea/libraries/Maven__org_apache_shiro_shiro_web_1_2_2.xml
.idea/libraries/Maven__org_aspectj_aspectjrt_1_6_12.xml
.idea/libraries/Maven__org_aspectj_aspectjweaver_1_6_12.xml
.idea/libraries/Maven__org_opensymphony_quartz_quartz_1_6_1.xml
.idea/libraries/shiro_freemarker_tags_0_1_SNAPSHOT.xml
target/classes/lazyadmin/plugin/ShiroTagFreeMarkerConfigurer.class
target/classes/lazyadmin/plugin/realm/UserRealm.class
target/classes/lazyadmin/web/exception/UnauthorizedExceptionHandler.class
target/classes/spring/spring-shiro.xml
target/lazyadmin/WEB-INF/classes/lazyadmin/plugin/ShiroTagFreeMarkerConfigurer.class
target/lazyadmin/WEB-INF/classes/lazyadmin/plugin/realm/UserRealm.class
target/lazyadmin/WEB-INF/classes/lazyadmin/web/exception/UnauthorizedExceptionHandler.class
target/lazyadmin/WEB-INF/classes/spring/spring-shiro.xml
target/lazyadmin/WEB-INF/lib/asm-3.3.1.jar
target/lazyadmin/WEB-INF/lib/aspectjrt-1.6.12.jar
target/lazyadmin/WEB-INF/lib/aspectjweaver-1.6.12.jar
target/lazyadmin/WEB-INF/lib/cglib-2.2.2.jar
target/lazyadmin/WEB-INF/lib/commons-collections-3.2.1.jar
target/lazyadmin/WEB-INF/lib/quartz-1.6.1.jar
target/lazyadmin/WEB-INF/lib/shiro-freemarker-tags-0.1-SNAPSHOT.jar
target/lazyadmin/WEB-INF/lib/shiro-quartz-1.2.2.jar
target/lazyadmin/WEB-INF/lib/shiro-spring-1.2.2.jar
target/lazyadmin/WEB-INF/lib/shiro-web-1.2.2.jar
target/lazyadmin/WEB-INF/views/common/error.ftl
target/classes/lazyadmin/entity/Video.class
target/classes/lazyadmin/mapper/VideoMapper.class
target/classes/lazyadmin/service/VideoService.class
target/classes/lazyadmin/service/impl/VideoServiceImpl.class
target/classes/lazyadmin/web/controller/VideoController.class
target/classes/mapper/VideoMapper.xml
target/lazyadmin/static/img/header.jpg
target/lazyadmin/WEB-INF/classes/lazyadmin/entity/Video.class
target/lazyadmin/WEB-INF/classes/lazyadmin/mapper/VideoMapper.class
target/lazyadmin/WEB-INF/classes/lazyadmin/service/VideoService.class
target/lazyadmin/WEB-INF/classes/lazyadmin/service/impl/VideoServiceImpl.class
target/lazyadmin/WEB-INF/classes/lazyadmin/web/controller/VideoController.class
target/lazyadmin/WEB-INF/classes/mapper/VideoMapper.xml
