<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.1.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.1.xsd
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.1.xsd">

    <!-- 扫描控制器 -->
    <context:component-scan base-package="lazyadmin.web.controller"></context:component-scan>
    <!-- 扫描插件,redis,cache,jsonp,aop -->
    <!-- 扫描包加载Service实现类 -->
    <context:component-scan base-package="lazyadmin.service"></context:component-scan>

    <!-- 开启aop，对类代理-->
    <aop:config proxy-target-class="true"/>
    <aop:aspectj-autoproxy proxy-target-class="true"/>

    <bean class="org.springframework.validation.beanvalidation.MethodValidationPostProcessor"/>


    <!-- 静态资源映射 -->
    <mvc:resources mapping="/static/**" location="/static/"/>

    <!-- 处理请求时返回json字符串的中文乱码问题 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <bean class="org.springframework.http.converter.StringHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
            </bean>
            <bean id="fastJsonHttpMessageConverter"
                  class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                    </list>
                </property>
                <property name="features">
                    <array>
                        <value>WriteMapNullValue</value>
                        <value>WriteNullStringAsEmpty</value>
                    </array>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <!--<bean id="objectMapper" class="lazyrest.common.util.CustomObjectMapper" init-method="init">-->
    <!--&lt;!&ndash; 驼峰转为下划线 &ndash;&gt;-->
    <!--<property name="camelCaseToLowerCaseWithUnderscores" value="false"/>-->
    <!--<property name="dateFormatPattern" value="yyyy-MM-dd HH:mm:ss"/>-->
    <!--</bean>-->

    <!--<mvc:annotation-driven>-->
    <!--<mvc:message-converters>-->
    <!--<bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">-->
    <!--<property name="objectMapper" ref="objectMapper"/>-->
    <!--</bean>-->
    <!--</mvc:message-converters>-->
    <!--</mvc:annotation-driven>-->
</beans>